.footer {
    --background: linear-gradient(to left, #f3bf47 0%, #df3b40 100%);
    overflow: visible;
    background: #f7ba2b;
    background: var(--background);
   
    z-index: 1;
    color: black !important;
    /*clabarlo en el fondo */
    bottom: 0;
    left: 0;
    width: 100%;
    position: fixed;
}